<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param1</key>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>position</key>
		<string>{{17, 15},{733 , 48}}</string>
		<key>value</key>
		<string>top_bar_ipad.png</string>
	</dict>
	<key>param2</key>
	<dict>
		<key>type</key>
		<string>button</string>
		<key>position</key>
		<string>{{22 , 19},{40 , 40}}</string>
		<key>image</key>
		<string>btn_back_ipad.png</string>
		<key>action</key>
		<string>Redirect</string>
		<key>fileName</key>
		<string>BackImage</string>
	</dict>
	<key>param3</key>
	<dict>
		<key>type</key>
		<string>label</string>
		<key>position</key>
		<string>{{0 , 20},{750 , 40}}</string>
		<key>fontsize</key>
		<string>18</string>
		<key>fontface</key>
		<string>Arial-BoldMT</string>
		<key>value</key>
		<string>Course Detail</string>
		<key>align</key>
		<string>center</string>
		<key>color</key>
		<string>000000</string>
	</dict>
	<key>param4</key>
	<dict>
		<key>type</key>
		<string>webview</string>
		<key>position</key>
		<string>{{80 , 130},{620 , 800}}</string>
		<key>value</key>
		<string>html_data</string>
	</dict>
</dict>
</plist>
