<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param1</key>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>position</key>
		<string>{{9 , 9},{302 , 36}}</string>
		<key>value</key>
		<string>img_topbar.png</string>
	</dict>
	<key>param2</key>
	<dict>
		<key>type</key>
		<string>button</string>
		<key>position</key>
		<string>{{12 , 12},{30 , 30}}</string>
		<key>image</key>
		<string>btn_back_h.png</string>
	</dict>
	<key>param3</key>
	<dict>
		<key>type</key>
		<string>button</string>
		<key>position</key>
		<string>{{12 , 12},{30 , 30}}</string>
		<key>image</key>
		<string>btn_back.png</string>
		<key>action</key>
		<string>Redirect</string>
		<key>fileName</key>
		<string>BackImage</string>
	</dict>
	<key>param4</key>
	<dict>
		<key>type</key>
		<string>label</string>
		<key>position</key>
		<string>{{0 , 10},{320 , 33}}</string>
		<key>fontsize</key>
		<string>18</string>
		<key>fontface</key>
		<string>Arial-BoldMT</string>
		<key>data</key>
		<string>doc_name</string>
		<key>color</key>
		<string>000000</string>
		<key>align</key>
		<string>center</string>
		<key>lines</key>
		<string>0</string>
	</dict>
	<key>param5</key>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>position</key>
		<string>{{8 , 54},{302 , 397}}</string>
		<key>value</key>
		<string>box-1.png</string>
	</dict>
	<key>param6</key>
	<dict>
		<key>type</key>
		<string>webview</string>
		<key>position</key>
		<string>{{11 , 57},{295 , 391}}</string>
		<key>data</key>
		<string>doc_url</string>
	</dict>
</dict>
</plist>
